<div class="flickity-nav flickity-prev" tabindex="0">{%- render 'svg-icons' with 'carousel-product-prev' -%}</div>
<div class="flickity-nav flickity-next" tabindex="0">{%- render 'svg-icons' with 'carousel-product-next' -%}</div>